<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--See for more info: https://docs.spring.io/spring-boot/how-to/logging.html -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="io.github.bonigarcia" level="WARN" />

</configuration>